.env
*.pyc
.DS_Store
__pycache__
module-02/models/
module-03/models/
.collections/
.weaviate-binary/
# Ambientes virtuais
.venv/
venv/
module-03/graded/.DS_Store
module-03/graded/data/bbc_export.joblib
.models
module-05/graded/dataset/images/

